.headerContainer{
    height: 5rem;
}

.headerContent{
    max-width: 1280px;
    height: 5rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav{
        display: flex;
        align-items: center;
        gap: 14px;
        
        a{
            color: var(--white);
            text-decoration: none;
            transition: color .5s;

            &:hover{
                color: var(--red-900);
            }
        }
    }

    button{
        border: 0;
        background: transparent; //tira o fundo branco do icone
        margin-left: 16px;
        transition: transform 0.8s;

        &:hover{
            transform: scale(1.2);
        }
    }
}

